* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
  margin-right: 2px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

main {
  margin-top: 5%;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
.section-title {
  font-size: 22px;
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards-activities {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards-activities img {
  object-fit: cover;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/

header {
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav img {
  width: 70px;
  margin-top: 30px;
}

header nav ul {
  display: flex;
  width: 22%;
  padding: 0;
}

header nav ul li {
  width: 50%;
  text-align: right;
}

header nav ul li a:hover {
  color: var(--main-color);
  border-top: 3px var(--main-color) solid;
  padding-top: 14px;
}

/****** Search-form ***********/

.filter-search .search h1 {
  margin-bottom: 0;
}

.filter-search .search p {
  margin: 10px 0 30px 0;
}

form .fa-location-dot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--main-bg-color);
  font-size: 20px;
  width: 30px;
  height: 26px;
  padding: 10px;
  border-radius: 15px 0 0 15px;
}

form input {
  padding: 10px 0 10px 0;
  width: 210px;
  margin-left: -5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--main-bg-color);
  font-size: 20px;
}

form button {
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: var(--filter-bg-color);
  border-radius: 0 15px 15px 0;
  padding: 11px 10px 13px 13px;
  font-size: 17px;
  width: auto;
  font-weight: bold;
  position: relative;
  right: 10px;
  bottom: 2px;
  cursor: pointer;
}

form button .fa-magnifying-glass {
  display: none;
}

/****** Filter ***********/

.filter-search .filter {
  margin-top: 20px;
}

.filter-search .filter h2 {
  display: inline-block;
  padding-right: 5px;
  font-size: larger;
}

.filter-search .filter button {
  padding: 10px 0;
  width: 148px;
  margin: 0px 5px;
  border-radius: 20px;
  border: 2px var(--main-bg-color) solid;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
}

.filter-search .filter #button-family {
  width: 110px;
}

.filter i {
  font-size: larger;
  margin-right: 10px;
}

.filter-search .filter button:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.filter-search .filter p {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.filter-search .filter p span {
  height: 20px;
  width: 20px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin-right: 10px;
}

.filter-search .filter p span i {
  margin: auto;
  font-size: x-small;
}

/****** lodgings And popular ***********/

.lodgings-and-popular {
  display: flex;
  justify-content: space-between;
}

.lodgings-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px 20px 0px 20px;
  box-sizing: border-box;
}

/****** lodgings ***********/

#lodgings {
  width: 66%;
}

#lodgings h2 {
  margin: 0 0 20px;
}

.lodgings-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lodgings-cards a {
  display: flex;
  width: 32%;
  margin-bottom: 20px;
}

.lodgings-cards .card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.lodgings-cards img {
  width: 100%;
  height: 105px;
  border-radius: 15px 15px 0 0;
}
.lodgings-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.lodgings-cards .card-title {
  margin: 10px 0 5px 0;
}

.lodgings-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.lodgings-cards .card-rating {
  margin: 12px 0;
  display: flex;
  justify-content: start;
}

.afficher {
  font-size: medium;
}

.lodgings-cards a:hover {
  opacity: 0.6;
}

/****** popular ***********/

.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.popular-cards {
  display: flex;
  flex-wrap: wrap;
}

.popular-cards .card {
  display: flex;
}

.popular-cards img {
  width: 33%;
  height: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

.popular-cards a {
  width: 100%;
  margin-bottom: 20px;
  height: 40%;
}

.popular-cards a:hover {
  opacity: 0.6;
}
/****** activities ***********/

#activities {
  width: 100%;
  margin-bottom: 60px;
}

#activities h2 {
  margin: 60px auto 20px;
  width: 97%;
}

.activities-cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#activities .activities-cards a {
  display: flex;
  width: 22%;
}

.activities-cards img {
  width: 100%;
  height: 295px;
  border-radius: 20px 20px 0 0;
}

.activities-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.activities-cards .cards-activities .card-title-activities {
  margin-left: 20px;
  font-size: 14px;
}

.activities-cards a:hover {
  opacity: 0.6;
}

/****** Footer ***********/

footer {
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-wrap: wrap;
}

footer div {
  width: 33%;
}

footer div h2 {
  margin: 20px 0 0 20px;
  font-size: large;
}

footer div ul {
  padding-left: 20px;
}
footer div ul li {
  margin-bottom: 10px;
}

footer a:hover {
  color: var(--main-color);
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  header nav ul {
    width: 30%;
  }

  .filter-search .filter h2 {
    display: block;
  }

  .lodgings-and-popular {
    flex-direction: column;
  }

  #lodgings {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards a {
    width: 30%;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 13px;
  }

  .activities-cards img {
    width: 100%;
    height: 225px;
    border-radius: 20px 20px 0 0;
  }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  body {
    width: 100%;
    margin: 0;
  }

  .main-container {
    padding: 0;
  }

  /****** Header ***********/

  header nav {
    justify-content: center;
  }

  header nav ul {
    width: 100%;
    padding: 0;
  }

  header nav ul li {
    text-align: center;
    border-bottom: 2px var(--filter-bg-color) solid;
    padding-bottom: 15px;
  }

  header nav img {
    margin: 30px 0 10px;
  }

  header nav ul li:hover {
    border-bottom: 2px var(--main-color) solid;
    padding-bottom: 10px;
  }

  header nav ul li a:hover {
    border-top: none;
  }

  /****** Search-form ***********/

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  form .fa-location-dot {
    padding: 12px;
  }

  form input {
    width: 210px;
    padding: 10px 12px 10px 10px;
    text-align: start;
  }

  form button {
    width: auto;
    padding: 15px;
    position: unset;
    border-radius: 15px;
    box-shadow: 0px 5px 5px -1px grey;
    margin-left: -37px;
  }

  form button i {
    display: block !important;
    color: white !important;
  }
  form button span {
    display: none;
  }

  .filter-search {
    padding: 0 15px;
  }

  /****** filter ***********/

  .filter-search .filter h2 {
    margin-top: 30px;
    font-size: medium;
  }

  .filter-search .filter #button-family {
    width: 47%;
    padding-right: 40px;
  }

  .filter-search .filter button {
    width: 47%;
    margin: 10px 5px 10px 0;
    border-radius: 20px;
    font-size: smaller;
    padding-right: 15px;
    border: 2px var(--main-bg-color) solid;
    font-weight: bold;
    background-color: white;
  }

  .filter i {
    font-size: larger;
    margin: 0 10px 0;
  }

  .filter-search .filter p span {
    width: 20px;
  }
  /****** Lodgings and popular ***********/

  .lodgings-and-popular {
    flex-direction: column-reverse;
  }

  .lodgings-and-popular section {
    border-radius: 0;
    margin: 5px 0 0 0;
  }

  /****** Lodgings ***********/

  #lodgings {
    background-color: white;
  }

  #lodgings h2 {
    font-size: larger;
  }
  .lodgings-cards {
    flex-direction: column;
  }

  .lodgings-cards a {
    justify-content: center;
    width: 100%;
  }

  /****** Popular ***********/
  .popular {
    width: 100%;
  }

  .popular-cards {
    flex-direction: column;
  }

  .popular-cards a {
    width: 100%;
  }

  .section-title {
    font-size: larger;
  }

  /****** Activities ***********/

  #activities {
    padding: 0;
  }

  #activities h2 {
    margin: 60px 0 20px 27px;
    font-size: larger;
  }

  .activities-cards {
    flex-direction: column;
    align-items: center;
  }

  #activities .activities-cards a {
    width: 90%;
    margin-bottom: 25px;
  }

  .activities-cards img {
    height: 150px;
  }

  /****** Footer ***********/

  footer {
    width: 100%;
    flex-direction: column;
  }

  footer div {
    width: 100%;
  }

  footer div h2 {
    font-size: medium;
  }
}
